<table border=1>
    <tr>
        <th>name</th>
        <th>phone</th>
        <th>email</th>
        <th>content</th> 
        <th>status</th> 
        <th>DONE</th>
        <th>DELETE</th> 
    </tr>
    <% lists.forEach(function(item) { %>
    <tr>
        <td><%=item.name%></td>
        <td><%=item.phone%></td>
        <td><%=item.email%></td>
        <td><%=item.memo%></td>
        <td><%=item.status%></td>
        <td>
            <button type="button" onclick="updateContact(<%=item.id%>)">UPDATE</button>
        </td>
        <td>
            <button type="button" onclick="deleteContact(<%=item.id%>)">DELETE</button>
        </td>
    </tr>
    <% }) %>
</table>